.profileCard {
    display: flex;
    flex-direction: column;
    height: 375px;
    width: 351px;
    position: relative;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 35px 50px hsla(229, 23%, 23%, 0.35);
    &__top {
        height: 140px;
        background: url("/images/bg-pattern-card.svg");
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        >img {
            position: relative;
            top: 87px;
            left: 122.5px;
            border: white solid 5px;
            border-radius: 50%;
        }
    }
    &__middle {
        height: 146px;
        width: inherit;
        text-align: center;
        >p {
            line-height: 2.5;
            &:not(:last-child) {
                margin-top: 76px;
                line-height: 1.3;
            }
        }
        .age {
            color: $darkPurple/*$darkGrayishBlue*/
            ;
        }
        #city {
            color: $darkGrayishBlue;
            font-size: $font-med;
        }
    }
    &__bottom {
        border-top: hsla(0, 0%, 59%, 0.25) solid 1px;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        li {
            position: relative;
            top: 5px;
            display: inline-block;
            .stat {
                font-weight: 700;
                font-size: $font-lrg;
                color: $vDarkDesBlue;
                text-align: center;
            }
            .text {
                font-size: $font-sml;
                letter-spacing: 1.5px;
                text-align: center;
                color: $darkGrayishBlue;
            }
        }
    }
}