//Colors
$darkCyan: hsl(185, 75%, 39%);
$vDarkDesBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$brightRed: hsl(0, 91%, 46%);
$darkGray:hsl(0, 0%, 59%);
//Font size
$font-lrg:1.125rem; //18px
$font-med: 0.875rem; //14px
$font-sml:0.625rem; //10px